
body {
    padding-top: 56px;
}

.user-avatar {
    max-width: 50px;
}

#dropdownMenuButton {
    background-color: transparent;
    border: none;

}

.dropdown-menu {

    background-color: #343a40;
    margin: 10px 0px;
}

.nav-link{

    color:white;

}

.nav-link:hover {
    color: #007bff;
}